# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.cache


# Virtual environment
venv/
env/
*.venv
.env

# IDE configurations
.vscode/
.idea/

# macOS artifacts
.DS_Store

# SQLite database files (if used)
*.sqlite

# Logs
logs/
*.log

# Other commonly ignored files
*.swp
*.swo
*.swn
